<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.easy.member.model.mapper.MemberMapper">

<insert id="join">
	INSERT 
	  INTO 
	  	  MEMBER 
  VALUES
  		(
		#{userId},
		#{userPwd},
		#{email},
		DEFAULT,
		DEFAULT,
		DEFAULT
		)
</insert>

<select id="login" parameterType="String" resultType="com.kh.easy.member.model.dto.MemberDTO">
	SELECT
	       USER_ID userId,
	       USER_PWD userPwd,
	       EMAIL,
	       ROLE,
	       STATUS,
	       ENROLL_DATE enrollDate
	  FROM	
	       MEMBER
	 WHERE
	  	   USER_ID = #{userId}
</select>



</mapper>