<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.easy.token.model.mapper.TokenMapper">

	<insert id="saveToken">
		INSERT
		  INTO
		  	   REFRESH_TOKEN
		VALUES
			   (
				#{username},
				#{token},
				#{expiration}
			   )
	</insert>

	<delete id="deleteExpiredRefreshToken" parameterType="DeleteTokenDTO">
		DELETE
		  FROM	
		       REFRESH_TOKEN
		 WHERE
		 	   USER_ID = #{username}
		   AND
		   	   EXPIRED_AT <![CDATA[ < ]]> #{currentTime}
	</delete>

	<select id="findByToken" parameterType="RefreshTokenDTO" resultType="RefreshTokenDTO">
		SELECT
			   USER_ID username,
			   TOKEN token,
			   EXPIRED_AT expiration
		  FROM
		       REFRESH_TOKEN
		 WHERE
		 	   TOKEN=#{refreshToken}
	</select>
	
	<delete id="deleteRefToken" parameterType="Map">
		DELETE
		  FROM	
		       REFRESH_TOKEN
		 WHERE
		 	   USER_ID = #{username}
	</delete>

</mapper>